@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Roboto+Slab:100,200,300,400,500,600,700');
*{
    margin:0;
    padding:0;
    border:0;
}
body{
    font-family: "Roboto", san-serif;
}

.container-fluid {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

/*---------Navbar Styling---------*/
.navbar {
    position: relative;
    min-height: 90px;
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: #009acd;
    overflow: hidden;
}
.navbar-light .navbar-brand {
    color: #f4f4f4;
}
.navbar-brand {
    float: left;
    width: 10rem;
    font-family: "Roboto Slab", sans-serif;
    font-weight: bold;
    font-size: 200%;
}
.navbar-nav li {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 120%;
    display: block;
    float: right;
    margin-right: .5rem;
    color: #ffffff;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #ffffff;
    font-weight: 700;
}



/*---------Home Page Styling---------*/
.intro-message-container {
    height: 106vh;
    background: url(../images/galicia_hero_image.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
}

.welcome-message-header {
    font-family: "Roboto Slab", sans-serif;
}

.welcome-message-container {
    clear: left;
    color: #005AC1;
    background-color: rgba(255, 255, 255, .45);
    border-radius: 3%;
    text-align: center;
    padding: 1rem;
    width: 71%;
    height: 95%;
    font-size: 115%;
    bottom: 100px;
    overflow: hidden;
}

.province-section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 285vh;
}

.province-section-title {
    margin-bottom: .75rem;
    font-family: "Roboto Slab", sans-serif;
    color: #005ac1;
    font-size: 150%;
    font-weight: 700;
    text-align: center;
}

.province-containers {
    display: flex;
    margin-top: 0.8rem;
    margin-bottom: 0;
}

.province-card {
    height: 64vh;
    margin-right: 0;
    margin-bottom: 1.5rem;
    object-fit: cover;
    opacity: 0.9;
    border-radius: 3%;
    display: flex;
    justify-content: space-evenly;
    border: solid 3px #009acd;
}

.card-img-top {
    width: 100%;
    height: 68%;
}

.card-title {
    margin-bottom: .75rem;
    font-family: "Roboto Slab", sans-serif;
    text-align: center;
    color: #005ac1;
    font-size: 150%;
    font-weight: 700;
}

.destination-description {
    margin-bottom: .75rem;
    text-align: left;
    color: #005ac1;
    font-size: 90%;
    font-weight: 300;
    padding: 0.7rem;
}

/* Code to fix center bug was found at https://stackoverflow.com/questions/8508275/how-to-center-a-position-absolute-element */
.destination-button {
    bottom: 0;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    left: 0;
    right: 0;
    text-align: center;
    height: 41px;
    width: 157px;
}

.btn-primary {
    border-radius: 38%;
    background-color: #005ac1;
    color: #cdcdcd;
}

.jumbotron {
    margin-bottom: 0;
}

.jumbotron-contact-form {
    padding: 2rem 1rem;
    margin-bottom: 0;
    background-color: #c8cbe8;
    border-radius: .3rem;
}

.contact-form-container {
    border: blue;
}

.contact-heading {
    margin-bottom: 1rem;
    font-family: "Roboto Slab", sans-serif;
    text-align: center;
    color: #005ac1;
    font-size: 150%;
    font-weight: 700;
}

.contact-button {
    margin: 1rem;
}

/*---------Destination Page Styling---------*/


.destination-container {
    height: 1050vh;
    margin-right: 1rem;
    width: 90%;
}

.province_map_img {
    position: relative;
    margin-bottom: 0.75rem;
}

.destination-page-header {
    margin-bottom: 1rem;
    font-family: "Roboto Slab", sans-serif;
    text-align: center;
    color: #005ac1;
    font-size: 150%;
    font-weight: 700;
    margin-top: 2rem;
}

.destination-page-info {
    background-color: #D90921;
    color: #ffffff;
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 111%;
    font-weight: 400;
    min-height: 50px;
}

.destination-description {
    display: flex;
    justify-content: center;
    clear: left;
    position: relative;
    margin-bottom: .75rem;
    text-align: left;
    color: #005ac1;
    font-size: 90%;
    font-weight: 600;
    padding: 10px;
}

#map {
    width: 100%;
    height: 600px;
    zoom: 30%;
}

.activities-container {
    height: 214vh;
    margin-top: 1rem;
    margin-left: 1rem;
}

.activities-section-title {
    margin-bottom: .75rem;
    margin-top: .75rem;
    font-family: "Roboto Slab", sans-serif;
    color: #005ac1;
    font-size: 150%;
    font-weight: 700;
    text-align: center;
    margin-left: 1.5rem;
}

.activities-card-img-top {
    width: 100%;
    height: 50%;
}

.activities-province-card {
    height: 64vh;
    margin-right: 0;
    margin-bottom: 1.5rem;
    object-fit: cover;
    opacity: 0.9;
    border-radius: 3%;
    display: flex;
    justify-content: space-evenly;
    border: solid 3px #009acd;
}

.top-activities-description {
    color: #005ac1;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 50%;
}

.activities-card-title {
    margin-bottom: .75rem;
    font-family: "Roboto Slab", sans-serif;
    text-align: center;
    color: #005ac1;
    font-size: 100%;
    font-weight: 700;
}



/*---------Footer Styling---------*/

footer {
    background-color: #009acd;
    color: #ffffff;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px;
    overflow: hidden;
}

.container-fluid {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#footer-contact-details {
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: fit-content;
    font-weight: 500;
    text-align: center;
}

 a {
color: #ffffff;

 }


.social-media {
    margin-top: 1rem;
    position: relative;
}

.social-media li a i {
    width: 40px;
    height: 40px;
    padding: 15px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 10px;
    text-align: center;
    color: #4b3b47;
    background: #e0d8de;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-media li a i:hover {
    background: rgb(114,117,152);
}


/*---------Media Styling---------*/

/* Small devices (portrait tablets and large phones)
@media only screen and (min-width: 568px) {
    

} */

/* Medium devices (landscape tablets, 767px and up) */
@media only screen and (min-width: 767px) {
    .intro-message-container {
    height: 60vh;
}

    .welcome-message-container {
    width: 71%;
    height: 79%;
}

    .province-section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 115vh;
}

    .province-card {
    margin-right: 1rem;
    height: 50vh;
}

    .card-img-top {
    width: 100%;
    height: 75%;
}

#map {
    width: 100%;
    height: 800px;
    zoom: 60%;
}

.destination-container {
    height: 450vh;
}

.destination-description {
    margin-left: 6rem;
}

.activities-container {
    height: 60vh;
    margin-top: 1rem;
    margin-left: 1rem;
}

.activities-section-title {
    margin-bottom: .75rem;
    margin-top: .75rem;
    font-family: "Roboto Slab", sans-serif;
    color: #005ac1;
    font-size: 150%;
    font-weight: 700;
    text-align: center;
}

.activities-card-img-top {
    width: 100%;
    height: 41%;
}

.activities-province-card {
    height: 50vh;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
    object-fit: cover;
    opacity: 0.9;
    border-radius: 3%;
    display: flex;
    justify-content: space-evenly;
    border: solid 3px #009acd;
}

.top-activities-description {
    color: #005ac1;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 60%;
}

.activities-card-title {
    margin-bottom: .75rem;
    font-family: "Roboto Slab", sans-serif;
    text-align: center;
    color: #005ac1;
    font-size: 100%;
    font-weight: 700;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .intro-message-container {
    height: 88vh;
}

    .welcome-message-container {
    width: 55%;
    height: 75%;
}

    .province-section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 155vh;
}

.province-containers {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 69vh;
}

.province-card {
    margin-right: 1rem;
    height: 67vh;
}

    .card-img-top {
    width: 100%;
    height: 70%;
}

#map {
    width: 100%;
    height: 800px;
    zoom: 60%;
}

.destination-container {
    height: 525vh;
}

.activities-container {
    height: 70vh;
    margin-top: 1rem;
    margin-left: 1rem;
}

.activities-section-title {
    margin-bottom: .75rem;
    margin-top: .75rem;
    font-family: "Roboto Slab", sans-serif;
    color: #005ac1;
    font-size: 150%;
    font-weight: 700;
    text-align: center;
}

.activities-card-img-top {
    width: 100%;
    height: 40%;
}

.activities-province-card {
    height: 66vh;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
    object-fit: cover;
    opacity: 0.9;
    border-radius: 3%;
    display: flex;
    justify-content: space-evenly;
    border: solid 3px #009acd;
}

.top-activities-description {
    color: #005ac1;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 68%;
}

.activities-card-title {
    margin-bottom: .75rem;
    font-family: "Roboto Slab", sans-serif;
    text-align: center;
    color: #005ac1;
    font-size: 100%;
    font-weight: 700;
}

}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .welcome-message-container {
    width: 42%;
    height: 75%
}

    .card-img-top {
    width: 100%;
    height: 70%;
}

    .province-section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 117vh;
    }
    
    .province-containers {
    height: 52vh;
}

    .province-card {
    margin-right: 1rem;
    height: 49vh;
    }

    .destination-container {
    height: 370vh;
}

    .activities-card-img-top {
    width: 100%;
    height: 41%;
}

    .activities-province-card {
    height: 50vh;
    }

}