@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Roboto+Slab:100,200,300,400,500,600,700');
*{
    margin:0;
    padding:0;
    border:0;
}
body{
    font-family: "Roboto", san-serif;
}

.container-fluid {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

/*---------Navbar Styling---------*/
.navbar {
    position: relative;
    min-height: 90px;
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: #009acd;
    overflow: hidden;
}
.navbar-light .navbar-brand {
    color: #f4f4f4;
}
.navbar-brand {
    float: left;
    width: 10rem;
    font-family: "Roboto Slab", sans-serif;
    font-weight: bold;
    font-size: 200%;
}
.navbar-nav li {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 120%;
    display: block;
    float: right;
    margin-right: .5rem;
    color: #ffffff;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #ffffff;
    font-weight: 700;
}



/*---------Home Page Styling---------*/
.intro-message-container {
    height: 103vh;
    background: url(../images/galicia_hero_image.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
}

.welcome-message-header {
    font-family: "Roboto Slab", sans-serif;
}

.welcome-message-container {
    clear: left;
    color: #005AC1;
    background-color: rgba(255, 255, 255, .45);
    border-radius: 3%;
    text-align: center;
    padding: 1rem;
    width: 58%;
    height: 77%;
    font-size: 115%;
    bottom: 100px;
    overflow: hidden;
}

.province-section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 275vh;
}

.province-section-title {
    margin-bottom: .75rem;
    font-family: "Roboto Slab", sans-serif;
    color: #005ac1;
    font-size: 150%;
    font-weight: 700;
}

.province-containers {
    display: flex;
    margin-top: 1rem;
}

.province-card {
    /*width: 10rem;*/
    height: 60vh;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
    object-fit: cover;
    opacity: 0.9;
    border-radius: 3%;
    text-align: bottom;
    display: flex;
    justify-content: space-evenly;
}

.card-title {
    margin-bottom: .75rem;
    font-family: "Roboto Slab", sans-serif;
    text-align: center;
    color: #005ac1;
    font-size: 150%;
    font-weight: 700;
}

.card-text {
    margin-bottom: .75rem;
    text-align: center;
    color: #005ac1;
    font-size: 100%;
    font-weight: 400;
}

.btn-primary {
    border-radius: 25%;
    background-color: #005ac1;
    color: #cdcdcd;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 0;
    background-color: #e9ecef;
    border-radius: .3rem;
}

.contact-form-container {
    margin: 0;
    border: blue;
}

.contact-heading {
    margin-bottom: 1rem;
    font-family: "Roboto Slab", sans-serif;
    text-align: center;
    color: #005ac1;
    font-size: 150%;
    font-weight: 700;
}

.contact-button {
    margin: 1rem;
}

/*---------Footer Styling---------*/
footer {
    background-color: #009acd;
    color: #ffffff;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px;
    overflow: hidden;
}

.container-fluid {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#footer-contact-details {
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: fit-content;
    font-weight: 500;
    text-align: center;
}

 a {
color: #ffffff;

 }


.social-media {
    margin-top: 1rem;
    position: relative;
}

.social-media li a i {
    width: 40px;
    height: 40px;
    padding: 15px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 10px;
    text-align: center;
    color: #4b3b47;
    background: #e0d8de;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-media li a i:hover {
    background: rgb(114,117,152);
}


/*---------Media Styling---------*/

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 590px) {
    

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
    

} 